<h2>Hello <%= current_user.name %> </h2>

<br>
  <strong>Welcome to manager site:</strong>

<br><br><br><br><br>


  <span><button type="button" class="btn btn-danger"><%= link_to 'Player Applications', applies_path %></button></span>
<button type="button" class="btn btn-warning"><%= link_to 'Club Applications', create_jobs_path %></button>
<button type="button" class="btn btn-success"> <%= link_to 'New register Manage', new_user_path %></button>
<button type="button" class="btn btn-info"><%= link_to 'Home Page', root_url %></button>
<br><br><br><br><br>