<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Create jobs</h1>
    <br> <br>
  </div>


  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Annual salary</th>
      <th>Contract time</th>
      <th colspan="3"></th>
     <span>  <strong> Manage</strong> </span>
      <%= link_to 'New jobs',  new_create_job_path(current_user), class: 'btn btn-success'%>
            <%= link_to 'back', user_path(current_user), class: 'btn btn-success'%>
            
          </th>
        </tr> 
      </thead>

  <tbody>
   <% if@create_jobs.empty? %>
      <tr>
    <td colspan="4" class="text-center">
              <h3>No registered applications.</h3>
              <%= link_to 'click here', create_jobs_path(current_user) %> to register a new  job application
            </td>
          </tr>
        <% end %>
 <% @create_jobs.each do |c| %>
<tr>
          <td>
            <%= c.name %>
          </td>
          <td>
            <%= c.position %>
          </td>
           <td>
            <%= c.annual_salary %>
          </td>
          <td>
            <%= c.contract_time %>
          </td>
          <td>
            <%= link_to 'Edit', edit_apply_path(c),  :class => 'btn btn-warning' %>
          </td>
          <td>
            <%= link_to 'Destroy', apply_path(c), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete?' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

        